@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #0a192f;
}

body {
    background-color: var(--bg-color);
}

.activeStyle {
    color: rgb(203, 213, 225)
}

.activeStyle::before {
    content: '';
    width: 64px !important;
    border-color: rgb(203, 213, 225) !important;
    transition: width 0.3s
}

@media (min-width: 1024px) {
    .experience:hover .link {
        opacity: 0.5
    }

    .experience .link:hover {
        opacity: 1
    }
}