@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #080808;
}

body::before,
body::after {
    position: fixed;
    inset: 0;
    z-index: -1;
    --grad: radial-gradient(at 30%, red, rgba(255, 0, 0, .2) 50%, transparent 70%);
    --mask: var(--grad), var(--grad), var(--grad);
    -webkit-mask: var(--mask);
    -webkit-mask-composite: source-in;
    mask: var(--mask);
    mask-composite: intersect;
    content: '';
    animation: pulse 7s infinite alternate; /* Adjust the duration as needed */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1); 
    }
}

body::before {
    filter: url(#f);
}

body::after {
    background: linear-gradient(90deg, rgba(0, 255, 255, 0.852), rgba(222, 17, 222, 0.566) 20%, rgba(255, 27, 11, 0.747));
}

.activeStyle {
    color: rgb(226, 232, 240)
}

.activeStyle::before {
    content: '';
    width: 64px !important;
    border-color: rgb(226, 232, 240) !important;
    transition: width 0.3s
}

@media (min-width: 1024px) {
    .experience:hover .link {
        opacity: 0.5
    }

    .experience .link:hover {
        opacity: 1
    }
}